/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'lato', sans-serif;
}

/* nav related Styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.pt {
    color: #FD6E0A;
}

.nav-title {
    color: black;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav a {
    text-decoration: none;
    color: black;

}

.bp {
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* header related styles */
.hst {
    background-color: bisque;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    background-color: aliceblue;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .pp {
    width: 500px;
}

.banner-hm {
    font-size: 45px;
    color: aquamarine;


}

.banner-hn {
    font-size: 85px;
    font-weight: 700px;
}

.banner-t {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
}

/* about  section*/
.ab {
    padding: 130px;
    border-radius: 10px;
    background-color: rgb(240, 225, 225);
    margin: 130px 0;

}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

#w {
    padding: 30px 150px;
}

.section-title {
    text-align: center;
}

.section-description {
    text-align: center;
}

/* skills related styles.skill-style */
.skill-style {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;

    border-radius: 5px;
    ;
    background: #ffff;
    box-shadow: 0px 6px 50px 0px rgb(190, 165, 165);
}

.skill-description {
    color: rgb(2, 2, 2);
}

.st {
    color: rgb(219, 39, 39);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;

}

.sd {
    color: rgba(20, 3, 3, 0.46);
    text-align: center;
    font-size: 10px;
    font-size: larger;
    font-variant: unset;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* resume */

.rct{
    color: rgb(2, 26, 26);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.rco{
    display: flex;
    gap: 50px;
}
.rp{
    color: black;
}

.rit{
    color: black;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
}

.rco hr{
    margin: 30px 30px ;
}

.download-cv{
    text-align: center;
    margin-top: 50;

}

/* footer style  */

footer{
    display: flex;
    background-color: antiquewhite;
    padding: 130px 120px;
    margin-top: 100px;
    gap: 100px;
    
}
.fc{
    width: 50%;

}

.contact input[type="text"] ,.contact input[type="email"] , textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    font-size: 17px;
    border:0;
    background-color: aliceblue;
    width: 100%;
    color: beige;



}

